
<html>
<link rel="stylesheet" href="css/estilos.css">
<body>
 <div id="footer" th:fragment="footer">
      <footer>
        <h2>Avda. Pedro Ortiz de Zarate Nº455 - Tel 388 4789555 </h2>
        <table>
           <tr>
            <td>
                <img src="img/contacto/wsp.png" width="50px" height="50px" alt="">
            </td>
            <td><img src="img/contacto/facebook.png" width="50px" height="50px" alt=""></td>
            <td><img src="img/contacto/instagram.png" width="50px" height="50px" alt=""></td>
            </tr>
            <tr>
                <td>Whatssapp: 3884 789 789</td>
                <td>Facebook: franyoset@gmail.com</td>
                <td>Instagram: pollofran@gmail</td>
            </tr>
        </table>
    </footer>
<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 </div>
</body>
</html>