<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fixture</title>
<!--     <link rel="stylesheet" href="css/estilos.css"> -->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
 <div id="contenedor">
  <header>
  <div th:insert="layout/header :: header"></div>
    </header>
<!--             <nav> -->
<!-- 					<a href="Index.html">Home</a> -->
<!-- 					<a href="fixture.html" target="_blank">Fixture y resultados</a> -->
<!-- 					<a href="equipos.html" target="_blank">Equipos</a> -->
<!-- 			</nav> -->
    <section id="contenido3">
       <table>
           <tr class="fila">
               <th><img src="img/liverpool.jpg" width="250" alt=""></th>
               <th>El Liverpool Football Club es un club de fútbol profesional con sede en Liverpool, Inglaterra, que disputa la Premier League, máxima competición futbolística en ese país. Fue oficialmente registrado como club de fútbol por John Houlding el 6 de junio de 1892, aunque originalmente fue nombrado «Everton F.C. and Athletic Grounds Ltd» ante la Asociación Inglesa de Fútbol. En 1893 se unió a la Football League. Si bien ganó su primer título de liga en 1901, fue durante los década de 1970 y 1980 cuando la institución, bajo la conducción técnica primero de Bill Shankly y luego de Bob Paisley obtuvo siete títulos internacionales y once campeonatos de liga. Fue miembro fundador de la «Premier League» en 1992 y del grupo G-14. Sus colores distintivos históricamente son el rojo —por lo cual reciben el apelativo de «The Reds»—, y en menor medida el blanco. Disputa su localía oficial en el Estadio Anfield.</th>
           </tr>

          <tr>
               <th><img src="img/totthemham.png" width="200px" alt=""></th>
               <th>Fundado en 1882, el club ganó por primera vez la Football Association Cup en la edición 1900-01 siendo el único club en vencerla sin pertenecer a la Football League —máxima división del fútbol inglés hoy conocida como Premier League— desde que se inaugurase la categoría en 1888 (participaba entonces en la Southern League).n. 1​  Cerró su década más exitosa con otro título de la F. A. Cup en 1967. Posteriormente venció de la English Football League Cup (es. Copa de la Liga) en dos ocasiones, así como la edición inaugural de la Copa de la UEFA en 1972, por lo que fue el primer club británico en lograr dos trofeos europeos distintos. Sus éxitos continuaron con el devenir de los años y con su último campeonato de la E. F. L. Cup de 2008, registró una racha de seis décadas consecutivas con al menos un trofeo de las principales competiciones del país, logro sólo igualado por el Manchester United Football Club.</th>
           </tr>
           
           
           
       </table>
           
                      
    </section>
     <aside><h2>Auspiciantes</h2>
    <table>
        <tr>
            <img src="img/auspiciantes/adidas.png" width="100%" height="100px" alt="">
        </tr>
            <tr>
                <img src="img/auspiciantes/chevroltet.jpg" width="100%" height="100" alt="">
        </tr>
        <tr>
                <img src="img/auspiciantes/ford.jpg" width="100%" height="100px" alt="">
    
        </tr>
        <tr>
            <img src="img/auspiciantes/auspiciante2.png" width="100%" height="100" alt="">

        </tr>
     </table>
    </aside>
     <footer>
        <h2>Avda. Pedro Ortiz de Zarate Nº455 - Tel 388 4789555 </h2>
        <table>
           <tr>
            <td>
                <img src="img/contacto/wsp.png" width="50px" height="50px" alt="">
            </td>
            <td><img src="img/contacto/facebook.png" width="50px" height="50px" alt=""></td>
            <td><img src="img/contacto/instagram.png" width="50px" height="50px" alt=""></td>
            </tr>
            <tr>
                <td>Whatssapp: 3884 789 789</td>
                <td>Facebook: franyoset@gmail.com</td>
                <td>Instagram: pollofran@gmail</td>
            </tr>
        </table>
    </footer>
    </div>
    
</body>
</html>