<!DOCTYPE html>
<!-- <html lang="en"> -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<!--cuerpo de la pagina-->
<body>
 <div id="contenedor">
<!-- encabezado de la pagina-->
  <header>
   <h1 th:text=" 'Bienvenido! '+ ${usuario}+' '+ ${apellido}"></h1>
   <div th:insert="layout/header :: header"></div>
    </header>
    
 <div class="container">
		    <div class="row row-cols-1 row-cols-md-4">
		  <div class="col mb-4">
		    <div class="card">
		      <img src="img/suspensionPartido.jpg" width="200" height="150" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Partidos Suspendidos</h5>
		        <p class="card-text">Nueva norticia de los partidos suspendidos por la cuarentenabr <br>
            	Todos los partidos quedaron suspendidos a causa del covid-19</p>
		      </div>
		    </div>
		  </div>
		  <div class="col mb-4">
		    <div class="card">
		      <img src="img/repeticionPartidos.jpg" width="200" height="150" class="card-img-top" alt="...">
		      	<div class="card-body">
		        <h5 class="card-title">Partidos Suspendidos</h5>
		        <p class="card-text">Nueva norticia de los partidos suspendidos por la cuarentenabr <br>
            	Todos los partidos quedaron suspendidos a causa del covid-19</p>
		      </div>
		    </div>
		  </div>
		  <div class="col mb-4">
		    <div class="card">
		      <img src="img/sorteos.jpg" width="200" height="150" class="card-img-top" alt="...">
		        <div class="card-body">
		        <h5 class="card-title">Partidos Suspendidos</h5>
		        <p class="card-text">Nueva norticia de los partidos suspendidos por la cuarentenabr <br>
            	Todos los partidos quedaron suspendidos a causa del covid-19</p>
		      </div>
		    </div>
		  </div>
		  <div class="col mb-4">
		  <h2>Auspiciantes</h2>
<!--    creacion de tabla para la publicidad-->
    <table>
        <tr>
<!--           insertar imagenes para publicidad-->
            <img src="" width="100%" height="100px" alt="">
        </tr>
            <tr>
                <img src="img/auspiciantes/chevroltet.jpg" width="100%" height="100" alt="">
        </tr>
        <tr>
                <img src="img/auspiciantes/ford.jpg" width="100%" height="100px" alt="">
        </tr>
        <tr>
            <img src="img/auspiciantes/auspiciante2.png" width="100%" height="100" alt="">
        </tr>
     </table>
  
		   </div>
		  
		</div>
</div>
    

    
	<div th:insert="layout/footer :: footer"></div>
    </div>
</body>
</html>